<main>

   <div class="profile-container">

      <div class="profile-section-container">
         @for (section of sections; track section) {
         <h2 class="profile-section-title">{{ section.sectionTitle }}</h2>

         <div class="profile-section">

            @for (sectionRow of section.sectionRows; track sectionRow) {
            <div class="profile-section-row">
               <h2 class="section-row-title">{{ sectionRow.sectionTitle }}</h2>
               <h2 class="section-row-data">{{ sectionRow.sectionData }}</h2>
            </div>

            @if (!$last) {
            <hr>
            }
            }

         </div>
         }
      </div>

      <div class="profile-section-container">
         @for (alert of clinicalAlerts; track alert) {
         <h2 class="profile-section-title">{{ alert.sectionTitle }}</h2>

         <div class="alert-section">

            @for (sectionRow of alert.sectionRows; track sectionRow) {
            <div class="alert-section-row">
               <h2 class="alert-row-title">{{ sectionRow.sectionTitle }}</h2>
               <h2 class="alert-row-data">{{ sectionRow.sectionData }}</h2>
            </div>
            }

         </div>
         }

      </div>
   </div>

</main>