:host {
   width: 100%;
   height: 100%;
   min-height: 0;
}

main {
   display: flex;
   flex-direction: column;
   padding: 36px;
   overflow-y: auto;
}

.home-title {
   font-size: 2rem;
   font-weight: bold;
   margin: 12px 0;
}

.home-top {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 12px;
   gap: 8px;
   overflow-y: visible;
}

.filters-wrapper {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   padding: 8px 0;
   gap: 8px;
   overflow-x: auto;
   overflow-y: visible;
}

.filter-container {
   width: fit-content;
   padding: 1rem 1.5rem;
   border-radius: 20px;
   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.233);

   cursor: pointer;
   background-color: white;
   color: var(--bg-grey);
   font-size: 1.3rem;
}

.filter-container.add-btn {
   background-color: var(--highlight-purple);
   height: fit-content;
}

.filter-container.add-btn img{
   filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(0%) hue-rotate(345deg) brightness(104%) contrast(101%);
}

.filter-container.active {
   color: white;
   background-color: black;
}


.records {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.record-container {
   display: flex;
   flex-direction: column;
   padding: 10px;

   background-color: white;
   border-radius: 20px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.233);

   transition: scale 0.05s ease-in-out;
}

.record-container:active {
   scale: 0.98;
}

.record-top {
   display: flex;
   margin-bottom: 8px;
   justify-content: space-between;
}

.record-type {
   font-size: 1.2rem;
   padding: 6px 8px;
   color: white;
   background-color: red;
   border-radius: 20px;
}

.record-date {
   color: var(--border-grey);
   font-size: 1.25rem;
}

.record-title {
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: 3px;
}

.record-description {
   font-size: 1.25rem;
   color: var(--bg-grey);
}

.record-container .record-content {
   display: none;
}

.record-container.open .record-content {
   display: flex;
}

.record-content {
   flex-direction: column;
   width: 100%;
   margin-top: 24px;
   gap: 8px;
   font-size: 1.25rem;
}

.record-content-label {
   font-weight: bold;
   margin-right: 8px;
}

.record-content-data {
   color: var(--bg-grey);
}

.record-content span {
   display: flex;
   flex-direction: row;
}

.record-attatchment {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   border-radius: 20px;
   margin-top: 12px;

   border: 1px solid var(--border-grey);
   background-color: rgb(231, 231, 231);
}

.record-attatchment span{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.attachment-icon {
   width: 30px;
   height: 30px;
}

.attachment-title {
   font-size: 1.25rem;
   font-weight: 600;
   margin-left: 5px;
}

.attachment-download-btn {
   padding: 8px;
   border-radius: 5px;
   background-color: rgb(255, 255, 255);
}

@media (max-width: 650px) {
   main {
      padding: 12px;
   }
}