<!-- @if (currentUser$ | async; as user) {
   <p>Olá, {{ user.email }}</p>
} -->

<aside class="sidebar">

   <div class="logo">
      <img src="imgs/logo_filled.svg" width="50px" alt="">
      <div>
         <h1>Sinapse</h1>
         <p>Prontuário Digital</p>
      </div>
   </div>

   <nav class="sidebar-nav">

      <div class="nav-group">
         <span class="group-title">PACIENTE</span>
         <ul>
            <li class="active">
               <a href="#">
                  <img src="imgs/icons/home.svg" class="nav-icon" alt="">
                  <span>Início</span>
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="imgs/icons/history.svg" class="nav-icon" alt="">
                  <span>Histórico</span>
               </a>
            </li>
            <li>
               <a routerLink="/share">
                  <img src="imgs/icons/qrcode.svg" class="nav-icon" alt="">
                  <span>Compartilhar</span>
               </a>
            </li>
            <li>
               <a routerLink="/profile">
                  <img src="imgs/icons/user.svg" class="nav-icon" alt="">
                  <span>Perfil</span>
               </a>
            </li>
         </ul>
      </div>

   </nav>
</aside>