
<aside class="hidden-sidebar" [class.open]="!isOpen">
   <div class="sidebar-menu-btn" (click)="isOpen = !isOpen">
      <img src="imgs/icons/menu.svg" width="100%" alt="">
   </div>
</aside>

<aside class="sidebar" [class.open]="isOpen">

   <div class="sidebar-top">
      <div class="logo">
         <img src="imgs/logo_filled.svg" width="50px" alt="">
         <div>
            <h1>Sinapse</h1>
            <p>Prontuário Digital</p>
         </div>
      </div>

      <div class="sidebar-menu-btn" (click)="isOpen = !isOpen">
         <img src="imgs/icons/menu.svg" width="100%" alt="">
      </div>
   </div>

   <nav class="sidebar-nav">

      <div class="nav-group">
         <span class="group-title">{{ mode === 'clinic' ? 'CLÍNICA' : 'PACIENTE' }}</span>
         <ul>
            @if (mode === 'clinic') {
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
               <a routerLink="/clinica" (click)="isOpen = false">
                  <img src="imgs/icons/home.svg" class="nav-icon" alt=""><span>Início</span>
               </a>
            </li>
            <li routerLinkActive="active">
               <a routerLink="/clinica/profissionais" (click)="isOpen = false">
                  <img src="imgs/icons/user.svg" class="nav-icon" alt=""><span>Profissionais</span>
               </a>
            </li>
            <li routerLinkActive="active">
               <a routerLink="/clinica/atendimentos" (click)="isOpen = false">
                  <img src="imgs/icons/history.svg" class="nav-icon" alt=""><span>Atendimentos</span>
               </a>
            </li>
            } @else {
            <li routerLinkActive="active">
               <a routerLink="/home">
                  <img src="imgs/icons/home.svg" class="nav-icon" alt="">
                  <span>Início</span>
               </a>
            </li>
            <li routerLinkActive="active">
               <a routerLink="/history">
                  <img src="imgs/icons/history.svg" class="nav-icon" alt="">
                  <span>Histórico</span>
               </a>
            </li>
            <li routerLinkActive="active">
               <a routerLink="/share">
                  <img src="imgs/icons/qrcode.svg" class="nav-icon" alt="">
                  <span>Compartilhar</span>
               </a>
            </li>
            <li routerLinkActive="active">
               <a routerLink="/profile">
                  <img src="imgs/icons/user.svg" class="nav-icon" alt="">
                  <span>Perfil</span>
               </a>
            </li>
            }

         </ul>
      </div>

      <div class="nav-group bottom">
         <ul class="bottom-nav">
            <li>
               <button (click)="logOut()">
                  <img src="imgs/icons/logout.svg" class="nav-icon" alt="">
                  <span>Sair</span>
               </button>
            </li>
         </ul>
      </div>

   </nav>
</aside>

<div class="fade" [class.open]="isOpen"></div>
