
<main>

   <h2 class="home-title">Linha do tempo</h2>

   <div class="overview-cards">
      <div class="overview-card">
         <h3>Consultas</h3>
         <h1>2</h1>
      </div>

      <div class="overview-card">
         <h3>Exames</h3>
         <h1>2</h1>
      </div>

      <div class="overview-card">
         <h3>Cirurgias</h3>
         <h1>2</h1>
      </div>

      <div class="overview-card">
         <h3>Precrições</h3>
         <h1>2</h1>
      </div>
   </div>

   <div class="home-top">

      <span class="filters-wrapper">
         <div class="filter-container" [class.active]="currentFilter==='Tudo'" (click)="currentFilter='Tudo'">
            Todos
         </div>

         <div class="filter-container" [class.active]="currentFilter==='Consulta'" (click)="currentFilter='Consulta'">
            Consultas
         </div>

         <div class="filter-container" [class.active]="currentFilter==='Exame'" (click)="currentFilter='Exame'">
            Exames
         </div>

         <div class="filter-container" [class.active]="currentFilter==='Cirurgia'" (click)="currentFilter='Cirurgia'">
            Cirurgias
         </div>

         <div class="filter-container" [class.active]="currentFilter==='Prescrição'"
            (click)="currentFilter='Prescrição'">
            Precrições
         </div>
      </span>

      <div class="filter-container add-btn">
         <img src="imgs/icons/add.svg" width="10px" alt="">
      </div>
   </div>

   <div class="records">
      @for (record of history; track record.title) {
      @if (currentFilter === 'Tudo' || currentFilter === record.type) {

      <div class="record-container" (click)="record.isOpen = !record.isOpen" [class.open]="record.isOpen">
         <div class="record-top">
            <span class="record-type">{{ record.type }}</span>
            <span class="record-date">{{ record.date }}</span>
         </div>

         <h2 class="record-title">{{ record.title }}</h2>
         <h3 class="record-description">{{ record.description }}</h3>

         <div class="record-content">
            @for (detail of record.detail; track detail.name) {
            <span>
               <h3 class="record-content-label">{{ detail.name }}:</h3>
               <h3 class="record-content-data">{{ detail.content }}</h3>
            </span>
            }

            @if (record.attatchments && record.attatchments.length > 0) {
            @for (attatchment of record.attatchments; track attatchment.title) {
            <div class="record-attatchment">
               <span>
                  <img src="imgs/icons/pdf.svg" class="attachment-icon" alt="pdf">
                  <h3 class="attachment-title">{{ attatchment.title }}</h3>
               </span>

               <div class="attachment-download-btn">
                  <img src="imgs/icons/download.svg" class="attachment-icon" alt="">
               </div>

            </div>
            }

            }
         </div>


      </div>
      }
      }
   </div>

</main>
